USE [ClinicDatabase]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 2026-10-05 7:00:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewPerson]
(
    @Firstname varchar(50),
    @Lastname varchar(50),
    @Gender varchar(1),
    @Email varchar(100),
    @PhoneNumber varchar(30),
    @ContactTypeId int,
    @personId int output
)
as
begin
    begin try
        begin transaction
        insert into People
        (
            Firstname,
            Lastname,
            Gender
        )
        values
        (@Firstname, @Lastname, @Gender);
        set @personId = Scope_Identity();
        if @ContactTypeId is null
            return;
        else
            insert into ContactInformations
            (
                Email,
                PhoneNumber,
                PersonID,
                ContactTypeID
            )
            values
            (@Email, @PhoneNumber, @personId, @ContactTypeId);
        Commit transaction
    end try
    begin catch
        if @@ROWCOUNT > 0
            RollBack;
        throw;
    end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 2026-10-05 7:00:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UpdatePerson]
(
	@personId int,  
    @ContactId int,
    @Firstname varchar(50),  
    @Lastname varchar(50),  
    @Gender varchar(1),  
    @Email varchar(100),  
    @PhoneNumber varchar(30),  
    @ContactTypeId int
)
as
	begin
		
        update People
        set Firstname = @Firstname, Lastname = @Lastname, Gender = @Gender
        where PersonID = @personId


        if @ContactId != -1
            begin
                update ContactInformations
                set Email = @Email, PhoneNumber = @PhoneNumber, ContactTypeID = @ContactTypeId
                where ContactID = @ContactId
            end

	end
GO
